body{
    background-image: url('../images/back.jpg');
    color: white;
}
form{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
}